<nav class="navbar bg-body-tertiary shadow-sm mb-3">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Registro de Usuarios</span>
  </div>
</nav>
<div class="container">
  <form class="row g-3 mb-3" (submit)="saveUser()" [formGroup]="userForm">
    <div class="col-md-4">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name" />
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['required']"
      >
        El campo es requerido!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('name')?.errors?.['pattern']"
      >
        No ingrese números ni caracteres especiales!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['minlength']"
      >
        Ingrese más de un carácter!
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="lastName" />
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('lastName')?.touched && userForm.get('lastName')?.errors?.['required']"
      >
        El campo es requerido!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('lastName')?.errors?.['pattern']"
      >
        No ingrese números ni caracteres especiales!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('lastName')?.touched && userForm.get('lastName')?.errors?.['minlength']"
      >
        Ingrese más de un carácter!
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Cedula</label>
      <input type="text" class="form-control" formControlName="idCard" />
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('idCard')?.touched && userForm.get('idCard')?.errors?.['required']"
      >
        El campo es requerido!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('idCard')?.errors?.['pattern']"
      >
        Solo ingrese números!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('idCard')?.touched && (userForm.get('idCard')?.errors?.['minlength'] || userForm.get('idCard')?.errors?.['maxlength'])"
      >
        Se requieren 10 dígitos!
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustomUsername" class="form-label">Correo</label>
      <div class="input-group has-validation">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']"
      >
        El campo es requerido!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['email']"
      >
        Escriba el correo con el siguiente formato: nombre@dominio.com
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" />
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['required']"
      >
        El campo es requerido!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['minlength']"
      >
        Utilize al menos 8 caracteres!
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" *ngIf="isEditing === false">
        Registrar Usuario
      </button>
      <button type="submit" class="btn btn-warning" *ngIf="isEditing === true">
        Editar Usuario
      </button>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Correo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.idCard }}</td>
        <td>{{ user.email }}</td>
        <td class="d-flex gap-1">
          <button
            class="btn btn-outline-warning btn-sm"
            title="Editar"
            (click)="editUser(user.id)"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            class="btn btn-outline-danger btn-sm"
            title="Eliminar"
            (click)="deleteUser(user.id)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
